// :root {
//   --bgc: beige;
// }

.hidden {
  display: none;
}

.main {
  height: 100%;
  background: var(--bgc);
  // overflow: scroll;
  overflow: hidden;
  display: grid;
  top: 10px;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 75px auto;
  transition: 0.5s;
}

.list-pos {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.list {
  padding-bottom: 4em;
}

.upload {
  border-radius: 20px;
  width: auto;
  height: auto;
  background-color: rgb(201, 201, 201);
}

.image {
  width: fit-content;
  border: 1px solid #000;
}

.post-button {
  position: fixed;
  bottom: 4em;
  right: 4em;
}

@media screen and (max-width: 1000px) {
  .hidden {
    display: none;
  }

  .main {
    height: 100%;
    background: var(--bgc);
    // overflow: scroll;
    overflow: hidden;
    display: grid;
    justify-content: center;
    top: 10px;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 75px auto;
    transition: 0.5s;
  }

  .list-pos {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .list {
    padding-bottom: 4em;
    width: 100%;
  }

  .upload {
    border-radius: 20px;
    width: 90vw;
    height: auto;
    background-color: rgb(201, 201, 201);
  }

  .image {
    width: 100%;
    border: 1px solid #000;
  }

  .post-button {
    position: fixed;
    bottom: 4em;
    right: 4em;
  }
}
