<div class="to-hide">
  <div class="main">
    <div class="list-pos">
      <ul class="list" *ngFor="let p of pictures">
        <mat-card class="upload">
          <mat-card-header>
            <mat-card-title>{{ p.uploader }}</mat-card-title>
            <mat-card-subtitle>{{ p.caption }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <img src={{p.img}} class="image">
          </mat-card-content>


          <mat-card-actions>
            <mat-icon class="action-item" color="warn">chat_bubble_outline</mat-icon>
            <mat-icon class="action-item" color="warn">favorite_border</mat-icon>
            <mat-icon class="action-item" color="warn">save</mat-icon>
          </mat-card-actions>
        </mat-card>
      </ul>
    </div>
  </div>
</div>

<button (click)="Upload()" mat-fab color="warn" class="post-button">
  <mat-icon>add</mat-icon>
</button>
