* {
  margin: 0;
  padding: 0;
}

:root {
  --bgc: beige;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100vw;
  background: var(--bgc);
}

p {
  font-size: 1.25em;
  font-weight: 500;
}

.col1 {
  grid-column: 1/2;
}

.col2 {
  grid-column: 2/3;
}

.col3 {
  grid-column: 3/4;
}

.row1 {
  grid-row: 1/2;
}

.row2 {
  grid-row: 2/3;
}

.row3 {
  grid-row: 3/4;
}



.grid {
  display: grid;
  flex-grow: 1;
  height: 90vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25vh 25vh 25vh;
}

.container {
  position: relative;
  background: rgb(33, 51, 152);
  background: linear-gradient(90deg, rgba(33, 51, 152, 1) 0%, rgba(235, 63, 66, 1) 100%);
  left: 20%;
  width: 60%;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px 30px 30px auto;
  gap: 10px;
  border-radius: 10px;
}

#Uname {
  align-self: center;
  text-align: right;
  margin-right: 40px;
  grid-row: 1/2;
  grid-column: 1/2;
}

#Pword {
  align-self: center;
  text-align: right;
  margin-right: 40px;
  grid-row: 2/3;
  grid-column: 1/2;
}

#Email {
  align-self: center;
  text-align: right;
  margin-right: 40px;
  grid-row: 3/4;
  grid-column: 1/2;
}


#userin {
  grid-row: 1/2;
  grid-column: 2/4;
  margin-right: 20vw;
  margin-top: 5px;
}

#signin {
  grid-row: 2/3;
  grid-column: 2/4;
  margin-right: 20vw;
  margin-top: 5px;
}

#emailin {
  grid-row: 3/4;
  grid-column: 2/4;
  margin-right: 20vw;
  margin-top: 5px;
}


#login {
  grid-row: 1/2;
  grid-column: 3/4;
  width: 80%;
}

#signup {
  grid-row: 2/3;
  grid-column: 3/4;
  width: 80%;
}

#clear {
  grid-row: 3/4;
  grid-column: 3/4;
  width: 80%;
}
