.hidden {
  display: none;
}

.list {
  width: 100px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.list>li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
  width: 100px;
  height: fit-content;
  overflow-wrap: break-word;
}

.list>li:last-child {
  border-bottom: none;
}
