<div class="grid">
  <div class="search">
    <button (click)="createRoom()" class="create">Create Room</button>
    <input type="text" class="search-box" id="search-box" (keyup)="search()">
    <div class="search-button" (click)="search()">
      <p>Search</p>
    </div>
  </div>
  <div class="list">
    <ul *ngFor="let r of selectedRooms">
      <li>
        <div style="display: grid; grid-auto-flow: column;  padding-left: 1em;" (click)="selectRoom(r.id)">
          <div>Group: {{r.name}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
