@media screen and (max-width: 1000px) {
  .spacer {
    position: relative;
    z-index: -1;
    height: 75px;
    width: 100%;
    background: var(--bgc);
  }

  .navigation {
    position: relative;
    width: 100%;
    height: 50px;
    background: rgb(33, 51, 152);
    background: linear-gradient(90deg, rgba(33, 51, 152, 1) 0%, rgba(235, 63, 66, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: -50px 0px 0 0 var(--bgc), 50px 0px 0 0 var(--bgc);
  }

  .navigation ul {
    display: flex;
    width: 300px;
    padding: 1rem;
  }

  .navigation ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 40px;
    z-index: 1;
  }

  .navigation ul li span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navigation ul li span .icon {
    width: 20px;
    height: 20px;
    position: relative;
    display: block;
    line-height: 50px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: black;
  }

  .navigation ul li.active span .icon {
    transform: translateY(40px);
  }

  .navigation ul li .text {
    position: absolute;
    color: black;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-10px);
  }

  .navigation ul li.active .text {
    opacity: 1;
    transform: translateY(0px);
  }

  .indicator {
    padding: 8px;
    position: absolute;
    top: 50%;
    width: 34px;
    height: 34px;
    background: rgb(93, 200, 134);
    background: radial-gradient(circle, rgba(93, 200, 134, 1) 0%, rgba(10, 134, 33, 1) 70%);
    border-radius: 50%;
    border: 6px solid var(--bgc);
    transition: 0.5s;
  }

  .indicator::before {
    content: '';
    position: absolute;
    top: 0;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 0 0 var(--bgc);
  }

  .indicator::after {
    content: '';
    position: absolute;
    top: 0;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-left-radius: 8px;
    box-shadow: 0 4px 0 0 var(--bgc);
  }

  .navigation ul li:nth-child(2).active~.indicator {
    transform: translate(calc(60px * 1));
  }

  .navigation ul li:nth-child(3).active~.indicator {
    transform: translate(calc(60px * 2));
  }

  .navigation ul li:nth-child(4).active~.indicator {
    transform: translate(calc(60px * 3));
  }

  .navigation ul li:nth-child(5).active~.indicator {
    transform: translate(calc(60px * 4));
  }
}
