<div id="home-page">
  <div id="home-page-landing">
    <div id="landing-left">
      <div id="landing-left-content">
        <h1 id="h1">Social Media Platform App</h1>
        <p>Bring memories to life, together...</p>
        <div id="get-started">
          <button (click)="onGetStartedClick()" mat-raised-button color="accent">Get Started Now!</button>
        </div>

      </div>
    </div>


    <!-- <div id="landing-right"> -->
    <!-- <div id="landing-right-content"> -->
    <!-- <mat-form-field>
          <mat-label></mat-label>
          <input placeholder="Email Address or Username">
          <br>

          <input placeholder="Password">
          <br>
        </mat-form-field>
        <br>
        <button mat-raised-button color="link">Login</button>
        <button mat-raised-button color="link">Register</button> -->
    <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
