<body>
  <div class="grid">
    <div class="container col2 row2">
      <p id="Uname" class="col1 row1">Username</p>
      <p id="Email" class="col1 row3">E-mail Address</p>
      <p id="Pword" class="col1 row2">Password</p>
      

      <input #username id="userin">
      <input #email id="emailin" type="email">
      <input #password id="signin" type="password">
      

      <button id="signup" (click)='signup(username.value, email.value, password.value)'>Sign Up!</button>
      <!-- <button id="clear" (click)='deleteUsers()'>clear users</button> -->
    </div>
  </div>
</body>