<div id="messageHist" style="height: 80vh; width: 100%;">
  <div class="top-list">
    <h1> {{ room.name }} </h1>
    <button *ngIf="manager" class="room-edit" (click)="changeRoomName()">Change room name</button>
  </div>
  <!-- <button (click)="unsubscribeFromRoom()"></button> -->

  <div class="list" style="height: 95%; width: 100%; overflow-y:scroll;">
    <ul>
      <li *ngFor="let m of messages" class="message">
        <!-- <div>{{ m.id }}</div> -->
        <div class="message-list">
          <p>{{ m.sentBy }}: {{ m.message }}</p>
        </div>
        <!-- <div>{{ m.timestamp }}</div> -->
      </li>
    </ul>
  </div>
</div>
<div style="height: 10%; display: flex;">
  <textarea style="width: 80%; height: 100%; border: 1; resize: none;" id="msgInput"
    (keydown.enter)="sendMessage()"></textarea>
  <button style="width: 20%; height: 100%; border: 1;" (click)="sendMessage()">send message</button>
</div>
