.room-edit {
  position: relative;
  //   left: 50%;
  width: 120px;
  height: 30px;
  top: 10px;
}

.top-list {
  //   display: ;
  height: 10%;
}

.top-list h1 {
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: anywhere;
  height: 50%;
}

.message-list {
  display: flex;
  height: 90%;
  overflow-wrap: anywhere;
}

.list {
  font-size: 1.5em;
}

.message {
  position: relative;
  padding: 10px;
  list-style: none;
}
