<div id="messageHist">
  <div class="top-list">
    <h1> {{ room.name }} </h1>
    <button *ngIf="manager" class="room-edit" (click)="changeRoomName()">Change room name</button>
  </div>

  <div class="list-pos">
    <div class="list">
      <ul>
        <li *ngFor="let m of messages" class="message">
          <div class="message-list">
            <p>{{ m.sentBy }}: {{ m.message }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="input">
    <textarea id="msgInput" (keydown.enter)="sendMessage()"></textarea>
    <button class="sendButton" (click)="sendMessage()">send message</button>
  </div>
</div>
