<div class="grid">
  <mat-card class="canvas-holder">
    <canvas id="Canvas">
    </canvas>
  </mat-card>
  <div class="whiteboard-tools">
    <div class="size">
      <h4>Draw size</h4>
      <br>
      <input type="range" min="1" max="100" value="50" class="slider" id="drawSize">
    </div>
    <div class="color">
      <h4>Color</h4>
      <input type="color" class="slider" id="colorPick" value="#000000">
    </div>
  </div>
  <app-chat-window class="chat">
  </app-chat-window>
</div>

<!-- this.canvas.width = window.innerWidth * (3 / 5) - 20;
this.canvas.height = this.canvas.width * (0.5625);-->
